
<%= form_for :car, url: cars_path do |f| %>

<% if @car.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@car.errors.count, "error") %> prohibited
        this car from being saved:
      </h2>
      <ul>
        <% @car.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :Name %><br>
    <%= f.text_field :name %>
  </p>

 
  <p>
    <%= f.submit%>
  </p>
<% end %>
<%= link_to 'Back', cars_path %>